<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{layout/plantilla :: head}">

    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        

        <div id="content">
            <h1>Bienvenido</h1>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent convallis risus ipsum, sagittis efficitur augue commodo ut. Integer feugiat lorem lectus, eget sollicitudin lacus luctus eget. Ut blandit felis sed elit aliquam, sed imperdiet justo fermentum. Curabitur sit amet mi lacinia, porttitor nunc vitae, congue lorem. Sed vel maximus orci. Donec sit amet ex id augue maximus tincidunt. Praesent pulvinar viverra lectus eget dictum.
                Praesent tortor sem, dictum a pharetra a, suscipit non diam. Praesent iaculis sapien sit amet diam facilisis, sit amet mattis arcu feugiat. Aliquam sed dapibus ligula. Suspendisse nec mollis dui. Proin quis eleifend nisl. Vestibulum facilisis condimentum erat at maximus. Proin nec metus felis. Duis vestibulum vel lorem quis faucibus.
                Ut vitae nibh libero. Nullam vitae lacus in magna malesuada maximus. Mauris quam elit, imperdiet vel viverra tempus, feugiat accumsan urna. Donec hendrerit neque in fringilla interdum. Vestibulum suscipit tellus sed consequat feugiat. Morbi quis metus mollis, aliquet sapien at, varius tortor. Cras egestas ligula ut magna volutpat eleifend. Fusce cursus nisl vel sapien semper consequat. Nam malesuada hendrerit lectus sed tincidunt. Praesent molestie velit id tincidunt sagittis. Aenean rutrum libero facilisis, tincidunt arcu sit amet, elementum dolor. Pellentesque efficitur, enim vel condimentum tempor, justo erat vestibulum nisl, ut sodales orci ipsum non odio. Nullam efficitur metus vitae enim porta, ut accumsan neque accumsan.
                Nam sodales eu leo at bibendum. Phasellus consectetur orci sed lobortis interdum. Nam luctus facilisis ornare. Duis metus augue, vestibulum eget interdum id, pretium et velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec sed suscipit sapien. Fusce condimentum mauris nulla, et auctor urna volutpat quis. Curabitur ac justo id orci ultricies iaculis. Phasellus quis neque nisi. Donec semper elit vitae ornare viverra. 
            </p>
        </div>


        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>

</html>